{%extends 'index.html' %}
<!-- This is template inheritance. Here navbar is inherited from navbar.html -->
{% block content %}
<h1>HOME</h1>

<div>
    <a href="{% url 'create-room'%}">Create Room</a>
    {% for room in rooms %}
    <a href="{% url 'update-room' room.id %}">
        Edit Room
    </a>

    <div>
        
        
        <span>@{{room.host.username}}</span>
        <div>
            <h4>{{room.id}}--<a href="{% url 'room' room.id%}">{{room.name}}</a></h4>
            <!-- This tag will generate unique url for each page. -->
        </div>
        <small>{{room.topic.name}}</small>
        {% endfor %}
    </div>
</div>
{% endblock content %}