{%extends 'index.html' %}
<!-- This is template inheritance. Here navbar is inherited from navbar.html -->
{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        /* the first part will have 1 fraction of the page and second half will have 3 fractions */
    }
</style>

<div class="home-container">
    <div>
        {%include 'base/topics_component.html'%}
    </div>
    <div>
        <h1>HOME</h1>
        <h4>{{room_count}} rooms available</h4>

        {%include 'base/feed_component.html'%}

        
    </div>
    <div>
        {%include 'base/activity_component.html'%}
    </div>
</div>

{% endblock content %}