{% extends 'index.html' %}

{% block content %}

{% if page=='login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <label for="">Username</label>
        <input type="text" name="username" placeholder="Enter Username:" />
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Enter Password:">
        <input type="submit" value="Login">


    </form>
    <p>Haven't signed up yet?</p>
    <a href="{%url 'register'%}">Register Here!</a>

    
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        
        <input type="submit" value="Register">

    </form>
    <p>Already signed up yet?</p>
    <a href="{%url 'login'%}">

</div>

{% endif %}
{% endblock content%}